<a href="https://colab.research.google.com/github/EdwinSanFI/Machine-Learning/blob/master/Fundamentos_Pr%C3%A1cticos_Introucci%C3%B3n_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
serie = pd.Series([5, 1, 129, 23, 54])
serie

0      5
1      1
2    129
3     23
4     54
dtype: int64

In [ ]:
type(serie)

pandas.core.series.Series

In [ ]:
serie[3]

23

In [ ]:
cad = pd.Series(['pedro', 'a', 'a', 2])
cad

0    pedro
1        a
2        a
3        2
dtype: object

In [ ]:
lista = ['Hola', 'mundo', 'robotico']
df = pd.DataFrame(lista)
df

          0
0      Hola
1     mundo
2  robotico

In [ ]:
data = {'Nombre': ['Juan', 'ana', 'Jose', 'Arturo'], 'Edad' : [25, 10, 12, 45], 'Pais': ['MX', 'CO', 'BR', 'MX']}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     ana    10   CO
2    Jose    12   BR
3  Arturo    45   MX

In [ ]:
print(df[['Nombre', 'Pais']])

   Nombre Pais
0    Juan   MX
1     ana   CO
2    Jose   BR
3  Arturo   MX

In [ ]:
data = pd.read_csv('canciones-2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [ ]:
artist = data.artists
artist[5]

'Post Malone'

In [ ]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [ ]:
 data.tail()

                       id  ... time_signature
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[5 rows x 16 columns]

In [ ]:
data.shape

(100, 16)

In [ ]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [ ]:
data.sort_index(axis = 0, ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

In [ ]:
subset = data[['name','tempo','duration_ms']]
subset.sort_values(by='tempo',axis=0 , ascending=True)

                             name    tempo  duration_ms
38                        changes   64.934     121887.0
1                            SAD!   75.023     166606.0
0                      God's Plan   77.169     198973.0
71                  Feel It Still   79.028     163253.0
78                       Criminal   79.997     232550.0
..                            ...      ...          ...
98    Dusk Till Dawn - Radio Edit  180.043     239000.0
17                              X  180.073     173628.0
81                       Stir Fry  181.967     190288.0
93                     This Is Me  191.702     234707.0
85  Coraz?n (feat. Nego do Borel)  198.075     184720.0

[100 rows x 3 columns]